.header {
  text-align: left;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.standout {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 5px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

h1,h2,h3,h4,h5,p {
  text-align: center;
}

select {
  text-align: center;
}

@media only screen and (max-width:1200px) {
  .card-collection {
    grid-template-columns: 1fr;
  }
}
